/* Assistant font link */
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700&display=swap");

/* Sora font link */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
}
ol,
ul {
  list-style: none;
}

.font-primary {
  font-family: "Assistant", sans-serif;
}

.font-secondary {
  font-family: "Sora", sans-serif;
}
.color-primary {
  color: #000000;
}
.color-secondary {
  color: #f1a244;
}
.color-white {
  color: white;
}
.bg-tertiary {
  background-color: #69ba2c;
}

.bg-tertiary:hover {
  background-color: #bb5729;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.bg-primary {
  background-color: #ecf4ff;
}
.bg-secondary {
  background-color: #052a3d;
}

.mainlogo {
  height: 6.3rem;
}

.footerlogo {
  height: 9.7rem;
  display: block;
  margin: auto;
}

@media (max-width: 640px) {
  .footerlogo {
    height: 5.5rem;
  }
}

@media (max-width: 640px) {
  .mainlogo {
    height: 4.5rem;
  }
}

.custom-paragraph {
  background-image: linear-gradient(90deg, #e9f9f4, #cfebfe 45.31%, #f2eefe);
  width: 85%;
}

@media (max-width: 640px) {
  .custom-paragraph {
    width: 100%;
  }
}

.about-logo {
  max-width: 70%;
  height: auto;
}
